<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu-brand">
    <img src="zdj/index-img2.webp" alt="Logo Storczyk" class="mobile-menu-logo">
    <div class="mobile-menu-brand-text">
      <span class="mobile-menu-brand-name">storczykzakopane.pl</span>
    </div>
  </div>
  <div class="mobile-menu-links">
    <a href="index.html" onclick="closeMenu()">Strona główna</a>
    <a href="index.html#o-nas" onclick="closeMenu()">O nas</a>
    <a href="index.html#lokalizacja" onclick="closeMenu()">Lokalizacja</a>
    <a href="index.html#pokoje" onclick="closeMenu()">Pokoje</a>
    <a href="index.html#kontakt" onclick="closeMenu()">Kontakt</a>
    <a href="blog.html" onclick="closeMenu()">Blog</a>
    <a href="index.html#opinie" onclick="closeMenu()">Opinie</a>
    <a href="index.html#faq" onclick="closeMenu()">FAQ</a>
    <a href="index.html#galeria" onclick="closeMenu()">Galeria</a>
  </div>
</div>
